<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <title>签到表</title>
    <script src="../static/js/jquery-2.2.4.js"></script>
    <script src="../static/Vue/vue.js"></script>
    <script src="../static/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../static/element-ui/lib/theme-chalk/index.css">
    <script src="../static/js/Jquery.Common.js"></script>
    <script type="text/javascript">
        var vm;
        window.onload = function () {
                vm = new Vue({
                    el: "#app",
                    mounted: function () {

                    },
                    data: {},
                    method: {}
                })
            }

 </script>
</head>
<body>
   <div id="app">
       <div id="qdtable">

       </div>
   </div>
</body>
</html>